
.construction-image {
  height: 100px;
  margin: 15px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  background-color: teal;
  height: 100px;
  position: relative;
  /* padding: 0 0 4.5rem; */
}

.nav-item {
  padding: 0 18px;


}

.menu {
  position: absolute;
  bottom: 8px;
  right: 16px;
  width: 40%;
  font-size: 1.25rem;
  font-family: sans-serif;
  word-spacing: 1rem;
  color: white;
}

.top-section{
  /* background-color: teal; */

}

.title-section{
  position: relative;
  text-align: center;
  color: white;
}



.main-image {
  width: 100vw;
  display: block;
  opacity: 80%;
}

/* Headings */
.big-heading {
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.more-info {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: white 1px solid;
  padding: 0 10px 0 10px;
}

.more-info:hover {
  background-color: white;
  color: black;
}

.button-text {
  margin: auto;
}

.logo {
  position: absolute;
  top: 25%;
  left: 16px;
  font-size: 2rem;
  color: white;
}
