.tester {
  color: blue;
}

.construction-image {
  height: 100px;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: teal;
  height: 100px;
  position: relative;
}

.menu {
  position: absolute;
  bottom: 8px;
  right: 16px;
  width: 40%;
  font-size: 1.25rem;
  font-family: sans-serif;
  word-spacing: 1rem;
  color: white;
}

.main-picture {
  text-align: center;
  color: white;
  height: 100vh;
  width: 100%;
}

.main-image {
  height: 100vh;
  width: 100vw;
  display: block;
  opacity: 80%;
  position: absolute;
}

.top-centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
}

.picture {
  background: url(images/working.jpg) no-repeat center center;
}

.more-info {
  font-size: 1.5rem;
  width: 200px;
  height: 50px;
  border: white 1px solid;
  color: white;
  margin: auto;
}

.more-info:hover {
  background-color: white;
  color: black;
}

.button-text {
  margin: auto;
}

.logo {
  position: absolute;
  top: 25%;
  left: 16px;
  font-size: 2rem;
  color: white;
}
